@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 40px 0 0 77px;
}

.header_subheader {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase; 
  color: #333333;
}

.not_found{
  padding-top: 200px;
  padding-left: 77px;
  display: flex;
}

.img {
  width: 539px;
  height: 414px;
  object-fit: cover;
}

.subtitles { 
  margin-left: 118.78px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: #333333;
}

.paragraph {
  width: 400px;
  min-height: 108px;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;
  margin-top: 36px;
}

.btn {
  width: 216px;
  height: 68px;
  background: #333333;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin-top: 64px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  width: 230px;
  box-shadow: 3px 3px 5px #333333;
  transition: all 0.5s ease-in;
}

.footer {
  padding-top: 200px;
}

.author {
  position: absolute;
  left: 577px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #BDBDBD;
}

.author a {
  font-family: 'Montserrat';
  color: #BDBDBD;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .img {
    width: 470px; 
    object-fit: cover;
  }
  .paragraph {
    width: 320px;
    font-size: 19px;
  }
  .subtitles {
    margin-left: 91.78px;
  }
}

@media (max-width: 576px) {
  .not_found {
    position: relative;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
  } 
  .img {
    width: 286px;
    height: 220px;
    position: relative;
    left: 35%;
    transform: translateX(-50%);
  }
  h1 {
    font-size: 20px;
    line-height: 31px;
    margin-left: -100%;
    margin-top: 60px;
  }
  .paragraph {
    width: 250px;
    margin-left: -100%;
    font-size: 15px;
    line-height: 27px;
  }
  .btn {
    width: 200px;
    height: 50px;
    margin-left: -100%;
    margin-top: 66px;
  }
  .btn:hover {
    width: 200px;
    box-shadow: none;
  }
  .footer {
    padding-top: 50px;
    font-size: 10px;
  }
  .author {
    position: relative;
    top: -30px;
    left: 20px;
    font-size: 10px;
  }
  body {
    overflow-x: hidden;
  }
}
